{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt">
<head>
<title>VENDA</title>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no'>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!--<link rel='stylesheet' type='text/css' href='{% static 'materialize/css/materialize.min.css' %}'>
<script src='{% static 'semantic/js/materialize.min.js' %}' ></script>
<link rel='stylesheet' type='text/css' href='{% static 'semantic/dist/semantic.min.css' %}'>
<script src='{% static 'materialize/js/materialize.min.js' %}' ></script> -->
<script src='{% static 'semantic/jquery.min.js' %}' ></script>
</head>
<body>
  <header>  
		<div class="fixed" align="center"> <h1>SISTEMA-VENDA </h1></div>
  </header>
  <main>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="http://127.0.0.1:8000/" class="brand-logo">HOME</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'cliente_visual' %}">CLIENTE</a></li> <!-- MOSTRA TODOS OS CLIENTES E SEUS DADOS COM OPÇÃO DE CRUD-->
            <li><a href="produto.html">PRODUTO</a></li> <!-- MOSTRA TODOS OS PRODUTOS E SEUS DADOS COM OPÇÃO DE CRUD-->
            <li><a href="produto.html">VENDA</a></li> <!-- MOSTRA TODOS AS VENDAS E SEUS DADOS COM OPÇÃO DE CRUD-->
            <li><a href="produto.html">FORNECEDOR</a></li> <!-- MOSTRA TODOS OS FORNECEDORES E SEUS DADOS COM OPÇÃO DE CRUD-->
          </ul>
        </div>
      </nav>
    </div>
    {% block content %}

    {% endblock %}
    <br>
  </main>
  <footer>
    <center>
        <p>&copy; Copyright 2015-2016 Todos os direitos reservados por <strong>Office Urbano</strong>. </p>
    </center>
  </footer>
  <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>
  